@font-face {
  font-family: "PokemonFont";
  src: url("/fonts/Pokemon\ Solid.ttf");
}

@font-face {
  font-family: "PokemonFontHollow";
  src: url("/fonts/Pokemon\ Hollow.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url("/img/bg-game.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: PokemonFont;
  color: #ffcb08;
  text-shadow: -10px -5px 0 rgb(1, 1, 91);
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1024px;
  width: 100%;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(#0057ae, #00def6);
  box-shadow: 0 5px 50px #000204;
  padding: 1em 2em;
}

header h2 {
  font-size: 2rem;
}

.header-logo img {
  max-height: 60px;
  width: auto;
}

.header-settings img {
  cursor: pointer;
  max-height: 30px;
  width: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(162, 228, 243);
  padding: 1em;
  border-radius: 10px;
}

li {
  list-style-type: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  font-size: 0.5rem;
  color: #ffcb08;
  background-color: #0057ae;
  text-align: center;
  margin-top: auto;
  padding: 0.5em;
}

.error {
  font-size: x-large;
  color: red;
  font-weight: bolder;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

/* JAVASCRIPT CODE STYLEN (BOARD) */
.main-container {
  display: inline-block; /*Neemt alleen de breedte v.d bord, block neemt de hele pagina breedte*/
  border: 3px solid BROWN;
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* JAVASCRIPT CODE STYLEN (STATUS) */
.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: yellow;
  font-size: 1.5rem;
  margin-top: 1em;
  gap: 3rem;
}

.status span {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  padding-top: 0.5em;
}

#lives img,
#collected img {
  width: 40px;
  height: 40px;
}
