@font-face {
  font-family: "PokemonFont";
  src: url("/fonts/Pokemon\ Solid.ttf");
}

@font-face {
  font-family: "PokemonFontHollow";
  src: url("/fonts/Pokemon\ Hollow.ttf");
}

body {
  background-image: url("/img/bg-game.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  font-family: PokemonFont;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(#0057ae, #00def6);
}

header h2 {
  font-size: 3rem;
  color: #ffcb08;
  text-shadow: -10px -5px 0 rgb(1, 1, 91);
}

.header-logo img {
  max-height: 75px;
  width: auto;
}

.header-settings img {
  cursor: pointer;
  max-height: 30px;
  width: auto;
}

footer {
  font-size: 0.5rem;
  color: #ffcb08;
}

.error {
  font-size: x-large;
  color: red;
  font-weight: bolder;
}
