@font-face {
  font-family: "PokemonFont";
  src: url("/fonts/Pokemon\ Solid.ttf");
}

@font-face {
  font-family: "PokemonFontHollow";
  src: url("/fonts/Pokemon\ Hollow.ttf");
}

body {
  background-image: url("/img/bg-game.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  font-family: PokemonFont;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(#0057ae, #00def6);
}

header h2 {
  font-size: 3rem;
  color: #ffcb08;
  text-shadow: -10px -5px 0 rgb(1, 1, 91);
}

.header-logo img {
  max-height: 75px;
  width: auto;
}

.header-settings img {
  cursor: pointer;
  max-height: 30px;
  width: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: aquamarine;
}

li {
  list-style-type: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  font-size: 0.5rem;
  color: #ffcb08;
}

.error {
  font-size: x-large;
  color: red;
  font-weight: bolder;
}

/* JAVASCRIPT CODE STYLEN (BOARD) */
.main-container {
  display: inline-block; /*Neemt alleen de breedte v.d bord, block neemt de hele pagina breedte*/
  border: 3px solid BROWN;
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
